body{
    margin: 0;
   
    background-image: url(bg.png);
}
main{
    margin:30px auto;
    width:700px;
    background-color: black;
    padding:20px 0 ;
    

}
.s1{
    margin:0 auto 30px;
    height: 130px;
    width: 650px;
    background-image: url(s1bg.png);
    background-size: cover;
   
    
}
.s2{
    margin:0 auto 30px;
    height: 500px;
    width: 650px;
    background-color: rgb(112, 183, 216);
    justify-content: center;
    
}
.s3{
    margin:0 auto 30px;
    height: 500px;
    width: 650px;
    background-color: rgb(112, 183, 216);
    justify-content: center;
}
.s4{
    margin:0 auto 30px;
    height: 500px;
    width: 650px;
    background-color: rgb(112, 183, 216);
    justify-content: center;
}
.s5{
    margin:0 auto 30px;
    height: 500px;
    width: 650px;
    background-color: rgb(112, 183, 216);
    justify-content: center;
}
.s6{
    margin:0 auto 30px;
    height: 500px;
    width: 650px;
    background-color: rgb(112, 183, 216);
    justify-content: center;
}
img{
    height: 500px;
    width: 650px;
}
h2{
    color: rgb(0, 247, 255);
    font-weight: bolder;
    text-align: center;
    font-family: sans-serif;
    font-style: italic;
}
p{
    color: black;
    font-weight: bolder;
    text-align: center;
    font-family: sans-serif;
    font-style: italic;
}


